body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
			margin:0;
			padding:0
}

body.move{
    -webkit-transition: padding 0.3s ease;
    -moz-transition: padding 0.3s ease;
    -o-transition: padding 0.3s ease;
    -ms-transition: padding 0.3s ease;
    transition: padding 0.3s ease;
    font-family: "微软雅黑,宋体,PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif"
 !important;
}
.header{
    width: 1000px;
    height: 64px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}
.logo{
	margin-top: 9px;
}
.content{
	background: url('../images/rzhuye.png') center top;
	width:100%;
    min-width: 1000px;
	height: 602px;
	margin:0 auto;;
}
.main{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.main-left{
    display: inline-block;
    width: 600px;
    position: relative;
    top: 180.5px;
}
.main-left img{
    width: 70%;
}
.main-right{
    float: right;
    width: 400px;
    height: 100%;
    padding-top: 101px;
    padding-left: 50px;
    box-sizing: border-box;
}
.mainbox{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}
.mbtitle{
    margin: 30px 0px;
    padding-left: 20px;
    display: inline-block;
    font-weight: bold;
    color: #0a0a0a;
    font-size: 16px;
}
.tabbtn{
    display: inline-block;
    width: 150px;
    text-decoration:none;
    text-align: center;
    border-bottom: 0.5px solid #aaa;
    font-size: 14px;
    color: #aaa;
    font-weight: bolder;
    padding-bottom: 10px;
}
.tabbtnselector{
    color: #0dbff0;
    border-bottom: 0.5px solid #0dbff0;
}
.tabbtn:hover{
    color: black;
}
.tabbtnselector:hover{
    color: #0dbff0;
}
.prompt{
    margin-top: 10px;
    margin-left: 45px;
    font-size: 14px;
    color: #0a0a0a;
    width: 255px;
    height: 20px;
}
.mainbox form{
    width: 250px;
    height: 234px;
    margin-top: 6px;
    padding-left: 25px;
    font-weight: bold;
}

.mainbox form input{
    -web-kit-appearance:none;
    -moz-appearance: none;
    width: 250px;
    height: 40px;
    border-radius:5px;
    outline:0;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #6a6f77;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #6a6f77;
}
input::-webkit-input-placeholder{
  color: #6a6f77;
}
.mainbox form div input{
    vertical-align: top;
    width: 170px;
}
#graphicVerificationCode{
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #fa9414;
    vertical-align: top;
    margin-left: 10px;
}
#passworderror{
    display: none;
}
#loginbtn,#regisbtn{
    padding: 0;
    background-color: #0dbff0;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}
.forgetPassword{
    text-decoration: none;
    display: inline-block;
    width: 250px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    color: black;
}
.forgetPassword:hover{
    text-decoration: underline;
    color: blue;
}
p .forgetPassword{
    display: inline;
    text-decoration: underline;
}
#regisfrom input:nth-child(2){
    width: 150px;
}
#regisfrom input:nth-child(3){
    width: 90px;
    padding: 0;
    background-color: #f9b000;
    border: 1px solid #eb9b00;
    color: white;
    margin-left: 10px;
}
.footer{
    width: 1000px;
    height: 63px;
    overflow: visible;
    margin: 0 auto;
    color: #848585;
    position: relative;
    text-align: center;
    font-size: 14px;
}
.footer span{
	height: 63px;
	line-height: 63px;
}